@import "./../../generalStyles/variables.css";

.private-lessons-container {
  text-align: left;
}

.private-lessons-container .card {
  border: 1px solid var(--borderGray);
}
.private-lessons-container .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--borderGray);
  background-color: var(--white);
}

.private-lessons-image-container {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid var(--borderGray);
}
.private-lessons-image-container .image-wrapper {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: content-box;
}
.private-lessons-description,
.rate-from {
  font-size: 13px;
  color: var(--textGray);
  line-height: normal;
  word-spacing: 1px;
}
.private-lessons-trainner-name,
.private-lessons-price {
  font-family: var(--boldFont);
  font-size: 1.1rem;
}
.private-lessons-price {
  display: block;
  text-align: right;
}
.private-lessons-container .star-icon-wrapper {
  margin: 0 !important;
}
@media screen and (max-width: 786px) {
  .private-lessons-container {
    text-align: left;
  }
  .private-lessons-description,
  .rate-from {
    font-size: 12px;
  }
  .private-lessons-container .btn {
    width: 75% !important;
  }

  .private-lessons-price {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .private-lessons-image-container {
    height: 100px;
    width: 100px;
  }
  .private-lessons-image-container .image-wrapper {
    height: 90px;
    width: 90px;
  }
  .private-lessons-description,
  .rate-from,
  .private-lessons-container {
    text-align: center;
  }
  .private-lessons-container .btn {
    width: 100% !important;
  }
}
