@import "./../../generalStyles/variables.css";

.star-icon {
  font-size: 14px !important;
}
.star-icon.green {
  color: var(--green);
}
.star-icon.dark-blue {
  color: var(--darkBlue);
}

.star-icon.sky-blue {
  color: var(--skyBlue);
}

@media screen and (max-width: 500px) {
  .dark-blue {
    margin-bottom: 10%;
    font-size: 40px;
  }
}
