@import "./../../generalStyles/variables.css";
.form-title {
  margin-bottom: 0.5rem;
}
.form-control {
  border: none;
  max-height: 2000px;
  font-size: 0.9rem;
  padding: 1.5rem;
  background-color: var(--baleWhite);
}
.form-group {
  position: relative;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem #62d5603d;
  background-color: var(--baleWhite);
}
.admin-panel-container *.form-label {
  display: inline-block;
  font-family: var(--boldFont);
}
.counter {
  position: absolute;
  display: block;
  right: 2%;
  bottom: 3%;
  font-size: 0.7rem;
}
@media screen and (max-width: 500px) {
  .admin-panel-container *.form-label {
    font-size: 0.8rem;
  }
  .dark-blue {
    margin-bottom: 10%;
    font-size: 40px;
  }
}
