@import "./../../generalStyles/variables.css";

.social-media-modal .modal-header {
  border-bottom: none !important;
}
.social-media-modal .modal-header button {
  margin-left: auto;
  padding: 1rem 1.5rem;
  opacity: 1;
}
.social-media-modal-header .close {
  margin: 0;
}
.social-media-content h3,
.social-media-content p {
  text-align: center;
}

.social-media-content h3 {
  font-family: var(--boldFont);
  font-size: 1.8rem;
}
