@import "./../generalStyles/variables.css";
.App {
  text-align: center;
  background-color: var(--lightGray) !important;
  font-family: var(--regularFont);
}
p {
  text-align: left;
  letter-spacing: 0.01rem;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  text-transform: capitalize;
}
.card {
  border-color: var(--borderGray);
}
a:hover {
  color: var(--darkBlue);
  text-decoration: none;
}
.section-separator {
  border-bottom: 1px solid var(--lightGray);
}
.section-separator-right {
  border-right: 1px solid var(--lightGray);
}
.section-separator-top:first-of-type {
  border-top: 1px solid var(--lightGray);
}

.view-all-link {
  margin-top: 5%;
}
.link {
  cursor: pointer;
}
.link a {
  color: var(--black);
  font-size: 0.85rem;
  text-transform: initial;
}
.link p {
  display: inline-block;
}
/* style scroll */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--lightGray);
  box-shadow: inset 0 0px 1px var(--textGray);
}
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

.form-label {
  font-family: var(--boldFont);
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
}
.modal h3,
.modal p {
  text-align: center;
}

.modal h3 {
  font-family: var(--boldFont);
  font-size: 1.8rem;
}

/* form style  */
.form-title {
  margin-bottom: 0.5rem;
}
.form-control {
  border: none;
  max-height: 2000px;
  font-size: 0.9rem;
  padding: 1.5rem;
  background-color: var(--baleWhite);
}
.form-group {
  position: relative;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem #62d5603d;
  background-color: var(--baleWhite);
}
.fade .modal-dialog {
  transform: none !important;
}
@media screen and (max-width: 500px) {
  p {
    font-size: 11px;
    text-align: center;
    line-height: 1.2rem;
  }
  .form-label {
    font-size: 0.8rem;
  }
}
