@import "./../generalStyles/variables.css";
.App {
  text-align: center;
  background-color: var(--lightGray) !important;
  font-family: var(--regularFont);
}
p {
  text-align: left;
  letter-spacing: 0.01rem;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  text-transform: capitalize;
}
.card {
  border-color: var(--borderGray);
}
a:hover {
  color: var(--darkBlue);
  text-decoration: none;
}
.section-separator {
  border-bottom: 1px solid var(--lightGray);
}
.section-separator-right {
  border-right: 1px solid var(--lightGray);
}
.section-separator-top:first-of-type {
  border-top: 1px solid var(--lightGray);
}

.view-all-link {
  margin-top: 5%;
}
.link {
  cursor: pointer;
}
.link a {
  color: var(--black);
  font-size: 0.85rem;
  text-transform: initial;
}
.link p {
  display: inline-block;
}
/* style scroll */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--lightGray);
  box-shadow: inset 0 0px 1px var(--textGray);
}
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

.form-label {
  font-family: var(--boldFont);
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
}
.modal h3,
.modal p {
  text-align: center;
}

.modal h3 {
  font-family: var(--boldFont);
  font-size: 1.8rem;
}

/* form style  */
.form-title {
  margin-bottom: 0.5rem;
}
.form-control {
  border: none;
  max-height: 2000px;
  font-size: 0.9rem;
  padding: 1.5rem;
  background-color: var(--baleWhite);
}
.form-group {
  position: relative;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem #62d5603d;
  background-color: var(--baleWhite);
}
.fade .modal-dialog {
  transform: none !important;
}
/* style navbar */

.navbar {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--lightGray);
  padding-bottom: 1%;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-link {
  border: none !important;
  text-align: left;
  font-size: 0.95rem;
  font-weight: lighter;
  color: #000000;
  padding: 1% 0;
  margin-right: 3%;
  text-transform: capitalize;
}
.nav-link.active {
  font-family: var(--boldFont);
  color: #000000;
  position: relative;
  background-color: transparent !important;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--darkBlue);
  border-radius: 14px;
  left: 30%;
  transform: translate(-50%);
  bottom: -10px;
}
@media screen and (max-width: 1024px) {
  .nav-link {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  p {
    font-size: 11px;
    text-align: center;
    line-height: 1.2rem;
  }
  .form-label {
    font-size: 0.8rem;
  }
  .nav-link.active::after {
    left: 35%;
  }
  .navbar .nav-link {
    font-size: 0.75rem;
  }
  .nav-link.active::after {
    bottom: -5px;
  }
  .nav-tabs {
    margin-bottom: 18%;
  }
}
@media screen and (max-width: 430px) {
  .nav-link {
    padding: 1% 0;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}
