@import "./../../generalStyles/variables.css";

.navbar {
  width: 100%;
}
.navbar-container {
  background-color: var(--white);
  margin-bottom: 4%;
}
.mobile-screen-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
.navbar-nav .nav-link,
.navbar-nav a {
  color: var(--black) !important;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}

.navbar-light .navbar-toggler {
  border: none;
}
.logo-container {
  width: 75px;
  height: 75px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("./../../assets/images/navbar/collapse.svg") !important;
}
@media screen and (max-width: 786px) {
  .navbar-expand-lg > .container {
    padding: 2% 0%;
  }
}

@media screen and (max-width: 500px) {
  .navbar-expand-lg > .container {
    padding: 5% 0%;
  }
  .navbar-container {
    margin-bottom: 0%;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  .logo-container {
    width: 65px;
    height: 65px;
  }
  .navbar-nav {
    padding-top: 10%;
  }
  .navbar-nav a {
    margin-bottom: 2%;
    font-size: 0.75rem;
  }
}
