@import "./../../generalStyles/variables.css";

.single-check-box-row {
  border-bottom: 1px solid var(--borderGray);
}
.checkbox-form-group-label {
  font-size: 0.9rem;
  display: inline-block;
  text-align: left;
  padding: 2% 5%;
  display: flex;
  align-items: center;
}

.checkbox-form-group {
  display: block;
  text-align: left;
  padding: 2% 1%;
  margin: 0 !important;
}

.checkbox-form-group input {
  padding: 0;
  height: initial;
  width: initial;
  display: none;
  cursor: pointer;
}

.checkbox-form-group label {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.checkbox-form-group label:before {
  content: "";
  background-color: var(--borderGray);
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 96%;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 97%;
  width: 5px;
  height: 10px;
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* green theme */

.group-lessons-check-box .checkbox-form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 31%;
  left: 45%;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-form-group label.green.checked:before {
  background-color: var(--green);
}
.checkbox-form-group label.green:before {
  left: 0;
}

@media screen and (max-width: 786px) {
  .checkbox-form-group input:checked + label:after {
    left: 97.2%;
  }
}
@media screen and (max-width: 500px) {
  .checkbox-form-group input:checked + label:after {
    left: 94%;
  }

  .checkbox-form-group label:before {
    left: 92%;
  }
  .checkbox-form-group label {
    font-size: 0.8rem;
  }
}
