@import "./../../generalStyles/variables.css";

.group-lessons-container {
  text-align: left;
}
.group-lessons-container .card-body {
  padding: 0.5rem 1rem;
}
.group-lessons-container .btn:not(.dropdown-toggle) {
  width: 60%;
}
.group-lessons-container .card {
  border: 1px solid var(--borderGray);
}
.group-lessons-container .card-header {
  padding: 1.5rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--borderGray);
  background-color: var(--white);
}

.group-lessons-image-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid var(--borderGray);
}
.group-lessons-image-container .image-wrapper {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: content-box;
}
.group-lessons-description {
  font-size: 0.85rem;
  font-family: var(--boldFont);
  color: var(--black);
}
.group-for {
  font-size: 0.8rem;
  color: var(--orange);
  font-family: var(--boldFont);
  line-height: normal;
  word-spacing: 1px;
}
.place-name,
.experience {
  color: var(--textGray);
  font-size: 0.9rem;
}
.group-lessons-trainner-name,
.group-lessons-price {
  font-family: var(--boldFont);
  font-size: 1.1rem;
}
.group-lessons-price {
  display: block;
  text-align: right;
}
.group-lessons-check-box .heading-info {
  width: auto;
  text-align: left;
}
.group-lessons-check-box .date-and-time-info {
  width: 40%;
  margin-left: auto;
}

.group-lessons-check-box .form-group {
  display: block;
  text-align: left;
  padding: 2% 1%;
  margin: 0 !important;
}

.place-far {
  font-family: var(--boldFont);
}
@media screen and (max-width: 1024px) {
  .group-lessons-container .date-and-time-info {
    width: 55%;
  }
}
@media screen and (max-width: 786px) {
  .single-check-box-row:after {
    height: 95px;
    top: -105%;
  }
  .group-lessons-container .mobile-screen {
    display: none;
  }
  .place-name,
  .place-far,
  .experience {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 500px) {
  .single-check-box-row:after {
    height: 140px;
    top: -208%;
  }
  .group-lessons-check-box .form-group input:checked + label:after {
    left: 52%;
  }
  .group-lessons-check-box .form-group label {
    margin-left: 100%;
  }
  .mobile-screen .heading-info {
    width: 95%;
    margin: 0;
  }
  .mobile-screen .single-check-box-row {
    width: 5%;
    margin: 0;
  }
  .mobile-screen .form-group {
    width: 100%;
  }
  .mobile-screen {
    display: block !important;
  }
  .group-lessons-container .card-header {
    flex-direction: column !important;
    padding-bottom: 2%;
  }
  .mobile-screen {
    display: block;
  }
  .heading-info {
    width: 100%;
    margin-bottom: 6%;
  }
  .group-lessons-container .date-and-time-info {
    width: 100%;
    margin-top: 2%;
  }
  .group-for {
    font-size: 0.7rem;
  }
  .group-lessons-container {
    text-align: center;
  }
  .group-lessons-container .btn {
    width: 100% !important;
  }
  .group-lessons-container .btn.share-btn {
    width: 100% !important;
  }
  .group-lessons-description {
    font-size: 12px;
  }
  .group-lessons-price {
    font-size: 1.5rem;
  }
  .group-lessons-container .desktop-screen {
    display: none;
  }
}
